*{
    font-family: 'Itim', cursive !important;
    text-decoration: none !important;
    list-style: none !important;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #eff1f5;
    overflow-x: hidden;
}
header .type_span{
    padding-top: 450px;
}
header .navbar a{
    font-size: 20px;
}
header{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 555px;
}
header .navbar{
    position: fixed;
    width: 100%;
}
.nav-link .active{
    border-bottom: 2px solid red;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-brand{
    font-size: 34px;
    animation-name: slideeIn .5s forwards;
}
nav ul li a{
    position: relative;
}
nav ul li a::after,
nav ul li a.active::after,
nav ul li a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: crimson;
    left: 0;
    transform: scale(0);
    transition: all .5s;
}
nav ul li a::before{
    top: 0;
    transform-origin: left;
}
nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}
nav ul li a:hover:before,
nav ul li a:hover::after{
    transform: scale(1);
}
.offcanvas{
    background: transparent;
}
.navbar-toggler{
    background: transparent;
}
.snoww h1{
    color: #fff;
    padding-top: 150px !important;
}
#header{
    background: #000;
    height: 1000px;
}
#resume{
    color: #000 !important;
}F
#resume h4 {
    display: inline-block;
    flex-basis: 50%;
    height: 80px;
    font-size: 22px;
  }
  #resume .content .center .info {
    width: 100%;
    text-decoration: underline;
  }
  #resume .content .center {
    margin: 100px auto;
    width: 80%;
    padding: 30px 50px;
    background: #fff;
    color: #000;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  .resume-title{
      padding-top: 100px;
      padding-bottom: 50px;
  }
  #resume .content .center h5 {
    display: inline-block;
    flex-basis: 50%;
    width: 100%;
  }
  #resume a{
      color: #000;
  }
.box-res svg,
.box-res img{
    width: 152px;
    height: 157px;
}

.typing{
    color: red !important;
}
header a{
    color: #fff !important;
}
.about .bg-white {
    margin: auto;
    width: 80%;
    padding: 30px 50px;
    background: #000;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}
.about .text-left{
    width: 100%;
}
.about h3{
    flex-basis: 50%;
}
#top {
    display: none;
    position: fixed;
    right: 1%;
    bottom: 2%;
    cursor: pointer;
    z-index: 10;
}
#top img {
    padding: 15px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #ff6525;
}
.portfolio_inner-btn button {
    font-size: 1.2rem !important;
}
.icon svg,
.icons svg
{
    height: 24px;
}
.items_icon svg{
    width: 44px;
    height: 40px;
}
.couter{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
}
.counter h2{
    margin: 0 5px 0px;
}
.container-fluid{
    justify-content: space-around !important;
}

span{
    font-size: 20px;
}
.about .d-flex a:nth-child(1){
    text-transform: uppercase;
    font-size: 25px;
}
.about .d-flex a:nth-child(2){
    background: transparent;
    font-size: 25px;
    color: #000;
    transition: .5s;
    text-transform: uppercase;
    padding: 6px 12px;
    border: 1px solid #000;
    margin-left: 20px;
}
.about .d-flex a:nth-child(1):hover{
    border: none;
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.about .d-flex a:nth-child(1){
    border-radius: 0;
}
.about .d-flex a:nth-child(2):hover{
    border: none;
    background: #000;
    color: #fff;
}
header .nav-link{
    text-transform: uppercase;
}
.socials .nav-link{
    padding: 0 25px;
}
.contact{
    text-align: center;
}
.icons{
    padding-top: 49px;
    padding-bottom: 42px;
}
.contact .contact-item span{
    margin-top: -14px;
    margin-left: 25px;
}
.sticky{
    /* position: fixed; */
    background: #000;
    z-index: 1;
}
.my_info{
    color: red;
}
.typing{
    color: #000;
}
.location{
    margin-left: 30px;
}

.contact input{
    width: 945px;
}
textarea,
button,
input:focus{
    outline: none !important;
    box-shadow: none;
    /* padding-left: 5px; */
}
.about .container-fluid{
    justify-content: space-between !important;
}
.about span{
    font-size: 25px;
}
.contact textarea{
    border: 1px solid #ced4da;
}
.portfolio-item{
    max-width: 442px;
    position: relative;
    width: 100%;
    height: 245px;
    transition: all .3s ease;
    margin-bottom: 60px;
}
.portfolio-item .mix-img{
    transition: 1s ease-in-out;
    min-height: 250px;
    width: 442px;
    display: block;
    background-position: center;
    background-size: cover;
}
.bg-shadow{
    box-shadow: 0px 1px 2px 0px rgba(146,141,36,232);
    margin-top: 18px;
    height: 410px;
}
.portfolio_info_bottom{
    padding-top: 20px;
    padding-bottom: 20px;
}
.mixitup-control-active{
    background-color: #0d6efd;
    color: #fff;
}
button:hover, button:focus {
    background: 0 0;
    color: #49c6da;
    opacity: 1;
    border-color: rgba(94,205,222,.2);
    transition: background 150ms,border-color 50ms 0ms;
}
.text-bottom{
    width: 446px !important;
    font-size: 18px !important;
}
.portfolio_inner-btn button{
    font-size: 1.6rem;
}
.nav-link .active{
    position: relative;
}
.nav-link .active::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid red;
}
header span{
    padding-top: 40px;
    font-size: 35px;
    color: #fff !important;
}
.progress{
    width: 50%;
    margin: auto;
}
.services{
    padding-top: 160px;
}
.services .cart{
    /* box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%); */
    text-align: center;
    /* padding: 45px 25px; */
}
.contact-item{
    width: 361px;
    height: 294px;
    background: #fff;
    margin-bottom: 50px;
}  
.contact {
    padding-top: 40px;
}
.contact i{
    font-size: 40px;   
    position: relative; 
}
.contact .contact-item span{
    margin-left: 65px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 82px;
    border-radius: 50%;
    background: #eee;
    height: 82px;
    color: #000;
}
.bg-white{
    padding: 45px 25px;
}
.cart i{
    font-size: 25px;
}
.services-title{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.icon{
    transition: .5s ease-in-out;
}
.cart{
    transition: .5s ease-in-out;
}
.cart:hover{
    transform: translateY(-6px);
    box-shadow: 0px 9px 15px 0px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.cart:hover .icon{
    background: #000;
    color: #fff;
}
.services .services-ttile,
.services .services-text{
    color: #575757;
    font-size: 20px !important;
}
.contact p{
    font-size: 22px;
}
.icons_info{
    display: flex;
    justify-content: space-between;
}
.items_icon i{
    font-size: 48px;
    margin-bottom: 20px;
}
.items_icon p{
    font-size: 36px;
}
.icons_info .items_icon:nth-child(1) svg,
.icons_info .items_icon:nth-child(1) p{
    color: #ecb635;
}
.icons_info .items_icon:nth-child(2) svg,
.icons_info .items_icon:nth-child(2) p{
    color: #84c8e7;
}
.icons_info .items_icon:nth-child(3) svg,
.icons_info .items_icon:nth-child(3) p{
    color: #9cdd5d;
}
.icons_info .items_icon:nth-child(4) svg,
.icons_info .items_icon:nth-child(4) p{
    color: #e16a6c;
}
a.active{
    color: red !important;
}
.bg-white{
    border: 1px solid #ced4da;
}
.text-left{
    text-align: left !important;
}
.contact .bg-white{
    margin: 0 auto;
    width: 1170px;
    background-color: #ffffff;
    border: 0.2px solid #d7d7d7 !important;
}
hr{
    background-color: #ffffff;
    border: 0.2px solid #d7d7d7;
}
.contact span{
    font-size: 15px !important;
}
.contact .contact-title{
    font-size: 20px;
    position: relative;
    margin-top: 10px;
}
.title-bottom{
    position: relative;
    left: 24px;
    font-weight: bold;
}
.title-bottom::before{
    position: absolute;
    content: '';
    background: url(../images/map-marker-alt-solid.svg) no-repeat;
    left: -34px;
    top: 5px;
    width: 20px;
    height: 20px;
}
.contact-left .title-bottom::after{
    left: 0;
    position: absolute;
    content: '';
    content: '';
    width: 44px;
    height: 4px;
    bottom: -8px;
    background-color: #8bc34a;
}
.contact .Phone::before{
    position: absolute;
    content: '';
    background: url(../images/phone-alt-solid.svg) no-repeat;
    left: -34px;
    top: 5px;
    width: 20px;
    height: 20px;
}
.contact-left a,
.location-box span{
    color: #707070;
    padding-left: 21px;
}
.location-box span{
    max-width: 320px;
}
.contact-right h1{
    font-size: 24px;
}
.contact-right input{
    border: 1px solid #ced4da;
    height: 43px;
    width: 350px;
    display: block;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f1f4f5;
    outline: none;
    margin-bottom: 30px;
}
.contact-left{
    width: 34%;
}
.contact-right {
    width: 65%;
}
.contact-control input{
    width: 426px;
    background: #fff;
    height: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #f1f4f5;
}
.contact-control textarea{
    padding-left: 12px;
    width: 726px;
    height: 193px;
    background-color: #f1f4f5;
    font-size: 15px;
    margin-bottom: 20px;
}
.contact-right input:nth-child(2){
    margin-left: 20px;
}
.footer{
    color: #ababab;
}
.footer-col{
    padding-top: 50px;
}
.footer-col a{
    transition: ease-in-out 1s;
    text-transform: capitalize;
    color: #ababab;
    font-size: 20px;
    padding-bottom: 21px;
}
.footer-col a,
.footer-col li{
    padding-bottom: 0.5em;
}
.footer-col a.navbar-brand{
    padding-left: 30px;
    padding-bottom: 44px !important;
}
.footer .footer-col :nth-child(1){
    position: relative;
}
.menu_btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}
.portfolio .container-fluid{
    padding: 0 30px;
    max-width: 100%;
    margin: 0 auto;
}
@media (min-width:300px) and (max-width:577px){

}
@media (min-width:576px) and (max-width:768px){
    .contact-control textarea {
        width: 328px !important;
        height: 150px;
    }
    #resume{
        font-size: 18px;
    }
    .contact iframe{
        width: 464px;
    }
    .contact .bg-white{
        width: 520px !important;
        margin: 0 auto;
    }
    input{
        width: 154px !important;
    }
    span {
        font-size: 16px !important;
    }
    .footer-col a{
        font-size: 17px !important; 
    }
    h3{
        font-size: calc(1rem + .6vw);
    }
    .contact span{
        margin-left: 92px;
    }
    .portfolio_inner-box {
        justify-content: center !important;
    }
    .contact input.form-control{
        width: 518px !important;
    }
    .contact-control textarea {
        height: 118px !important;
    }
    .icons_info p{
        font-size: 20px !important;
    }
    .icons_info .items_icon{
        margin-left: -50px
    }
}
@media (min-width:769px) and (max-width:992px) {
    #resume{
        font-size: 18px !important;
    }
    textarea{
        width: 454px !important;
        height: 150px !important;
    }
    iframe{
        width: 682px !important;
    }
    .contact .bg-white{
        width: 744px !important;
        margin: 0 auto;
        margin-left: -25px;
    }
    .portfolio_inner-box{
        margin-left: 200px;
    }
    .contact-control input{
        width: 180px !important;
    }
    span{
        font-size: 16px !important;
    }
    h3{
        font-size: calc(1rem + .6vw) !important;
    }
    .footer a{
        font-size: 18px !important;
    }
    .contact-control input{
        width: 282px !important;
    }
    
}
@media (min-width:993px) and (max-width:1200px){
    .contact .bg-white{
        width: 950px !important;
        margin: 0 auto;
    }
    iframe{
        width: 908px;
    }
    .contact-control textarea {
        width: 586px !important;
    }
}
@media (min-width:1201px) and (max-width:1400px){
    .portfolio .container-fluid {
        padding: 0 35px;
        max-width: 100%;
        margin: 0 auto;
    }
}